* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 32px;
  color: #8B0000;
  font-size: "Times New Roman", Times, Serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 60px;
}

li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

li a {
  display: block;
  color: #B22222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #red;
  font-size: 100px;
}

body {
  background-color: #F08080;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: skyblue;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 50px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px;
  width: 100%;
}

ul li a:hover {
  color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
}

.footer li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.fb {
  font-size: 20px;
  text-align: left;
}

h1 {
  text-align: center;
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

.intro {
  font-size: 25px;
}

.hours {
  font-size: 25px;
}

.menu {
  font-size: 25px;
}

.aboutus {
  font-size: 25px;
}

.galleryContainer {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.galleryContainer .slideshowcontainer {
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: gainsboro;
  position: relative;
}

.galleryContainer .slideshowcontainer .imageHolder {
  width: 100%;
  height: 100%;
  position: absolute;
}

.galleryContainer .slideshowcontainer .imageHolder img {
  width: 100%;
  height: 100%;
}

.galleryContainer .slideshowcontainer .imageHolder .captionText {
  display: none;
}
