* {
  background-color: gray;
}

p {
  font-size: 32px;
  color: #8B0000;
  font-size: "Times New Roman", Times, Serif;
}

nav {
  height: 100%;
  width: 100%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

li a {
  display: block;
  color: #B22222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px;
}

ul li a:hover {
  color: red;
}
